<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>caseName</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${caseName}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${testRunId}/${caseName}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L [%X{caseName}] - %m%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L [%X{caseName}] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SIFT" />
    </root>
    <logger name="ch.qos.logback.classic" level="error"/>
</configuration>